/* category css */
table{
    border: solid 1px #cccccc;
    margin : 20px auto auto auto;
    width: 75%;
    height: 50px;
    font-size: 13px;
    background-color: #fff;
 }

.type_title{
    width: 15%;
    border-right: solid 1px #cccccc;
    color: #4caf50;
}

.food_type > input[type=radio]{
    display: none;
}

.food_type{
    padding-left: 10px;
}

.food_type > input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    width: 40px;
    align-content: center;
    font-weight: 600;
}

.food_type > input[type=radio]:checked+label{
    padding-left: 20px;
    background-color: #4caf50;
    border-radius: 20px;
    height: 25px;
    color: #fff;
}

.cnt_title{
    height: 50px;
}

.cnt_title > th > b{
    font-size: 20px;
    color: #4caf50;
}

.img_box{
    text-align: center;
}

.img_box > a{
    text-decoration: none;
    color: black;
}

.food_img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-color: #f1f1f2;
    object-fit: cover;
    text-align: center;
}

.img_box > a > p {
    margin: 10px 15px 5px 10px;
    width: 250px;
    font-size: 13px
}

.profile{
    display: flex;
    margin: 0 0 50px 10px;
}

.profile > img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
}