/* header css*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.logo > img {
  width: 200px;
  height: 68px;
  margin-left: 180px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar > input {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 385px;
  height: 30px;
}

.search-bar > button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 64px;
  height: 43px;
}

.write {
  margin-right: 40px;
}

.user-icons {
  display: flex;
}

.user-icons > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav {
  background-color: #4caf50;
  padding: 10px 20px;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  margin: 0 15px;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

/* content css*/
body{
   background-color: #f1f1f2;
}

.cont_group{
   background-color: #fff;
   margin: 20px auto;
   width: 75%;
}

.cont_title{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
}

.cont_title > h3{
   margin: 20px 75px;
   float: left;
}

.cont_title > input {
   margin: 20px 65px;
   float: right;
   height: 25px;
   border: 1px #e9e9e9;
   border-radius: 5px;
}

.cont_data{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
}

.cont_data > input{
   font-size: 25px;
   border : none;
   background-color : #fff;
   cursor: pointer;
}

.left_arrows{
   margin: 0px 0px 0px 15px;
}

.right_arrows{
   margin: 0px 15px 0px 0px;
}

.recipe_session{
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.recipe_box{
}

.recipe_box > a {
   text-decoration: none;
   cursor: pointer;
}

.recipe_title {
   margin: 0px 20px 20px 20px;
   font-size: 13px;
}

.foodImg {
   margin: 0px 20px;
   width: 220px;
   height: 120px;
   border-radius: 5px;
   border-color: #f1f1f2;
}

/* container css */
#recipes-container{
    border: solid 1px #cccccc;
    margin : 20px auto auto auto;
    width: 75%;
    height: auto;
    font-size: 13px;
    background-color: #fff;
}

.recipe{
    display: grid;
    grid-template-columns : auto auto auto auto;
    text-align: center;
    grid-gap: 10px;
}

.recipe > div > a{
    text-decoration: none;
    color: black;
}

.recipe > div > a > h3{
    margin: 5px;
    padding-bottom : 10px;
}

.cont_title{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
}

.cont_content{
    display: flex;
    justify-content: space-between;
}

.cont_content > input{
    font-size: 25px;
    border : none;
    background-color : #fff;
    cursor: pointer;
    padding: 20px;
}

.cont_title > h3{
   padding: 20px;
   margin: 0;
   float: left;
}

.cont_title > input {
   float: right;
   margin: 20px;
   height: 25px;
   border: 1px #e9e9e9;
   border-radius: 5px;
}

.container_img{
    width: 240px;
    height: 150px;
    border-radius: 5px;
    border-color: #f1f1f2;
    object-fit: cover;
    text-align: center;
}

/* footer css */
.footer{
    border-color: #999;
    background-color: #fff;
    padding: 5px 0 5px 0;
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;

}
.container{
    width: 1240px;
    max-width: none !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.company{
    margin-right: 15px;
}
.con_info > a, .con_info > span{
    text-decoration: none;
    font-size: 11px;
    color: #999;
}
.con_info{
    font-size: 11px;
    line-height: 1.6;
    margin-bottom: 16px;
    color: #999;
    margin-left: 15px;
}
.download{
    margin: 10px 15px;
}
.app_info{
    margin-bottom: 20px;
}
.app_info > a{
    margin: 0 15px;
}
.app_info > a > img{
    width: auto;
    height: 80px;
}
.banner_sns > a{
    text-decoration: none;
}
.banner_sns > a > img{
    width: auto;
    height: 65px;
}
.cs{
    margin: 15px;
}
.cs_comment{
    width: 260px;
    height: 150px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    font-size: 11px;
    line-height: 1.4;
    padding: 10px;
}
.cs_btn{
    margin-top: 5px;
    width: 260px;
    height: 25px;
    background-color: #fff;
    border: solid 1px #cccccc;
    border-radius: 2px;
    font-size: 11px;
}