<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>요리를 즐겁게~ 만개의레시피</title>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/catelist.css">
    <script src="/js/includeHTML.js" ></script>
</head>
<body>
    <div id="header"></div>

    <table>
        <tr>
            <th class="type_title">종류별</th>
            <td class="food_type">
                <input type="radio" id="type0" name="type" value="0" onclick="typeCheck(0)" checked>
                <label for="type0">전체</label>
                <input type="radio" id="type1" name="type" value="1" onclick="typeCheck(1)">
                <label for="type1">한식</label>
                <input type="radio" id="type2" name="type" value="2" onclick="typeCheck(2)">
                <label for="type2">양식</label>
                <input type="radio" id="type3" name="type" value="3" onclick="typeCheck(3)">
                <label for="type3">일식</label>
            </td>
        </tr>
    </table>

    <table>
        <tr class="cnt_title">
            <th colspan="4">총 <b>100</b>개의 맛있는 레시피가 있습니다</th>
        </tr>
        <tr>
            <td class="img_box">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPudKjn6x0BA115kKFCGVPRq0ec38tn0eDyg&s" class="food_img">
                    <p align=left>고추장 대신 된장소스 곁들인 감칠맛 가득 부추비빔밥</p>
                    <div class="profile">
                        <img src="https://i.namu.wiki/i/d4W_IbUYmI_l_ONbMMSSWSUFdR3Nve5_eozU5NCeYp8VMLStp0IpeCJU7s1r3RxplGjV17_3-USTjjToCa0awQ.webp">
                        <span>토끼씨</span>
                    </div>
                </a>
            </td>
            <td class="img_box">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPudKjn6x0BA115kKFCGVPRq0ec38tn0eDyg&s" class="food_img">
                    <p align=left>고추장 대신 된장소스 곁들인 감칠맛 가득 부추비빔밥</p>
                    <div class="profile">
                        <img src="https://i.namu.wiki/i/d4W_IbUYmI_l_ONbMMSSWSUFdR3Nve5_eozU5NCeYp8VMLStp0IpeCJU7s1r3RxplGjV17_3-USTjjToCa0awQ.webp">
                        <span>토끼씨</span>
                    </div>
                </a>
            </td>
            <td class="img_box">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPudKjn6x0BA115kKFCGVPRq0ec38tn0eDyg&s" class="food_img">
                    <p align=left>고추장 대신 된장소스 곁들인 감칠맛 가득 부추비빔밥</p>
                    <div class="profile">
                        <img src="https://i.namu.wiki/i/d4W_IbUYmI_l_ONbMMSSWSUFdR3Nve5_eozU5NCeYp8VMLStp0IpeCJU7s1r3RxplGjV17_3-USTjjToCa0awQ.webp">
                        <span>토끼씨</span>
                    </div>
                </a>
            </td>
            <td class="img_box">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPudKjn6x0BA115kKFCGVPRq0ec38tn0eDyg&s" class="food_img">
                    <p align=left>고추장 대신 된장소스 곁들인 감칠맛 가득 부추비빔밥</p>
                    <div class="profile">
                        <img src="https://i.namu.wiki/i/d4W_IbUYmI_l_ONbMMSSWSUFdR3Nve5_eozU5NCeYp8VMLStp0IpeCJU7s1r3RxplGjV17_3-USTjjToCa0awQ.webp">
                        <span>토끼씨</span>
                    </div>
                </a>
            </td>
        </tr>
    </table>

    <div id="footer"></div>
</body>
</html>