<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>요리를 즐겁게~ 만개의레시피</title>
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/includeHTML.js" ></script>
</head>
<body>

<div id="header"></div>

<div id="recipes-container">
  <div class="recipe" th:each="recipe : ${recipes}">
    <img th:src="${recipe.imgefile}" alt="Recipe Image" style="width:100px;height:auto;">
    <h3 th:text="${recipe.recipeTitle}">제목 없음</h3>
    <p th:text="${recipe.ingredients}">재료 없음</p>

  </div>
</div>


<div id="footer"></div>

</body>
</html>
