<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/signup.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
<header>
  <nav>
    <span>
      <img src="https://recipe1.ezmember.co.kr/img/logo4.png" alt="Logo">
    </span>
  </nav>
</header>
<main>
  <div class="container">
    <h2>회원가입</h2>
    <form id="signupForm" action="/signup" method="post">
      <div>
        <input type="text" name="username" placeholder="성함" autocomplete="off" required>
      </div>
      <div>
        <input type="text" id="id" name="id" placeholder="아이디" autocomplete="off" required>
        <button type="button" id="idCheck">ID중복검사</button>
        <span id="userID_result"></span>
      </div>
      <div>
        <input type="password" name="password" placeholder="비밀번호" autocomplete="off" required>
      </div>
      <div>
        <input type="date" name="age" placeholder="생년월일" autocomplete="off" required>
      </div>
      <div>
        <input type="text" name="phoneNumber" placeholder="전화번호" autocomplete="off" required>
      </div>
      <div>
        <input type="email" name="email" placeholder="이메일" autocomplete="off" required>
      </div>
      <button type="submit" id="submitBtn">완료</button>
    </form>
  </div>
</main>
</body>
</html>
